.gun img {
    width: 250px;
    border-radius: 20px;
}
.gun {
    /* position: absolute; */
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
    margin-top: 30px;
    padding: 15px;

}
.cartbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
}

.icon {
    color: green;
    font-size: 20px;
}


.specification {
    text-align: left;
}